[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amberelectric = "*"
python-dotenv = "*"
pre-commit = "*"
ruff = "*"
mypy = "*"

[dev-packages]
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
